::placeholder {
      opacity: 0.5;
      font-family: shabnam;
}

input[type="text"] {
      color: #555;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      padding-right: 10px;
      font-family: shabnam;
}

.input__container {
      width: 100%;
}

.input__effect {
      float: left;
      width: 100%;
      margin: 1.5rem 0rem 1.5rem 0;
      position: relative;
} /* necessary to give position: relative to parent. */

.input__hint {
      float: left;
      width: 100%;
      margin: -1.2rem 0 0 0;
      position: relative;
      font-size: 0.8rem;
      opacity: 0.6;
}

.input__has__icon {
      padding-left: 2rem !important;
}

.effect {
      padding: 10px 0;
      background-color: transparent;
      border-bottom: 1px solid #ddd;
}
.not__linear {
      @include border(1px, solid, map-get($gray, "gray-200"), all);
      border-radius: $border-radius;
}

.effect ~ .focus__border {
      position: absolute;
      bottom: 28px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $main;
      transition: 0.4s;
      border-bottom: 1px solid;
}

.effect:focus ~ .focus__border,
.has-content.effect ~ .focus__border {
      width: 100%;
      transition: 0.4s;
}

.effect ~ label {
      position: absolute;
      text-align: center;
      font-size: 13px;
      transition: 0.3s;
      z-index: 0;
      background: #fff;
}

.end--icon {
      right: calc(100% + -38px);
}

.start--icon {
      right: 1%;
      @media screen and #{$xs} {
            right: 3%;
      }
}

.input__icon {
      position: relative;
      top: -30px;
      width: 20px;
      height: 20px;
      margin-right: 6px;
      @include background();
}

.label_linear {
      right: -6px;
      top: -11px;
}
.label_not_linear {
      right: 13px;
      top: -6px;
}
