$main-colors: (
      red: #ff0000,
      blue: #0000ff,
      white: #ffffff,
      purple: #800080,
      pink: #ffc0cb,
      black: #000000,
      orange: #ffa500,
);

$red: (
      red-50: #fff1f2,
      red-100: #ffe4e6,
      red-200: #fecdd3,
      red-300: #fda4af,
      red-400: #fb7185,
      red-500: #f43f5e,
      red-600: #e11d48,
      red-700: #be123c,
      red-800: #9f1239,
      red-900: #881337,
);

$lightBlue: (
      lightBlue-50: #f0f9ff,
      lightBlue-100: #e0f2fe,
      lightBlue-200: #bae6fd,
      lightBlue-300: #7dd3fc,
      lightBlue-400: #38bdf8,
      lightBlue-500: #0ea5e9,
      lightBlue-600: #0284c7,
      lightBlue-700: #0369a1,
      lightBlue-800: #075985,
      lightBlue-900: #0c4a6e,
);

$cray: (
      cray-50: #ecfeff,
      cray-100: #cffafe,
      cray-200: #a5f3fc,
      cray-300: #67e8f9,
      cray-400: #22d3ee,
      cray-500: #06b6d4,
      cray-600: #0891b2,
      cray-700: #0e7490,
      cray-800: #155e75,
      cray-900: #164e63,
);

$orange: (
      orange-50: #fff7ed,
      orange-100: #ffedd5,
      orange-200: #fed7aa,
      orange-300: #fdba74,
      orange-400: #fb923c,
      orange-500: #f97316,
      orange-600: #ea580c,
      orange-700: #c2410c,
      orange-800: #9a3412,
      orange-900: #7c2d12,
);

$merged-colors: map-merge(map-merge(map-merge($cray, $lightBlue), map-merge($red, $orange)), $main-colors);
